    
<div id="todo-list">
  <div class="progress" data-controller="progress" data-progress-total-todos="<%= todos.count %>" data-progress-completed-count="<%= todos.count { |x| x.completed? } %>">
    <div id="progressBar" class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
